/* Colours */
:root {
  --white: #FFFFFF;
  --black: #010101;
  --grey: #cccccc;
  --red: #B11419;
  --blue: #536767;
  --cinnabar: #e53935;
  --mantis: #8bc34a;
}

/* Utility classes */
.color-blue {
  color: var(--blue);
}

.text-red {
  color: var(--red);
}

.bg-white {
  background: var(--white);
}

.card-border {
  border: 5px solid var(--blue);
}

.height-adjust {
  margin-top: 10%;
}

.no-margin {
  margin-bottom: 0;
}

.btn-red {
  background-color: var(--red);
}

.btn-small {
  background-color: var(--red);
}

.h-full {
  height: 100vh;
}

/* Styling for the base layout of the page */
body {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  font-family: roboto, sans-serif;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background: var(--black);
}

main > .container {
  flex: 1;
}

/* Navbar styles */
nav {
  background-color: var(--red);
}

nav .brand-logo {
  padding-left: 10px;
}

.logo-text {
  font-family: Oswald, sans-serif;
}

nav .nav-wrapper {
  overflow: hidden;
}

/* Styles for flash messages */
.flash-bg {
  background-color: var(--black);
}

.message {
  background-color: var(--red);
  font-family: roboto, sans-serif;
  font-size: 2rem;
  padding: 5px;
  border-radius: 5px;
}

.text-alert {
  padding: 10px 15px;
  margin: 5px 10px 10px 10px;
  border-radius: 5px;
  display: flex;
}

.text-alert ul {
  padding-left: 15px;
  margin: 0;
}

.text-alert.error {
  background: var(--cinnabar);
  color: var(--white);
}

.text-alert.success {
  background: var(--mantis);
  color: var(--black);
}

.text-alert button {
  margin-left: auto;
  background: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

/* Footer styling */
.footer-color {
  background-color: var(--red);
}

blockquote {
  border-left: 5px solid var(--black);
}

/* Profile form styles */
.display-item {
  display: flex;
  align-items: center;
}

.margin-left {
  margin-left: auto;
}

.remove-btn-style {
  background-color: var(--white);
  box-shadow: none;
}

.fa-pencil {
  color: var(--grey);
}

.cancel-btn {
  background-color: var(--grey);
  margin-right: 10px !important;
}

/* Styles specific to index.html */
.bg-image {
  background-image: url(/static/images/background-image.webp);
  background-position: center;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
}

.heading {
  color: var(--white);
  font-size: 4rem;
}

.heading h2 {
  font-size: 8rem;
}

.card-container {
  display: flex;
  gap: 10px;
}

.card-container .card {
  flex: 1;
}

.card-image img {
  height: 300px;
}

/* Styles specific to register.html */
.card-content h2 {
  margin-top: 0;
}

/* Form related styles */
.form-title {
  font-size: 2.75rem;
  text-align: center;
}
.form-divider {
  margin-top: 8px;
}

.custom-label {
  color: var(--black);
  font-size: 1.5rem;
}

/* Dashboard styles */
.equal-height-row .card {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-content {
  flex-grow: 1;
}

.pencil-bg {
  box-shadow: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-bttm {
  margin-bottom: 10px;
}

.chart-pos {
  max-height: 250px;
  padding: 5px;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

.card-wrapper .card {
  padding: 0;
  margin: 0;
}

/* Media Queries for responsive design */
@media screen and (max-width: 1050px) {
  .heading h2 {
    font-size: 8rem;
  }
  .card-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 992px) {
  .heading h2 {
    font-size: 6rem;
  }
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    margin-left: 0;
  }
  .card-container {
    max-width: 100%;
    flex-direction: column;
  }
  .brand-logo {
    display: contents;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
  }
}


