{% extends "base.html" %}
{% from "macros/validationError.html" import validationError %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
      <div class="card card-border">
        <div class="card-content">
          <h2 class="form-title text-red"><strong>Exercise Log</strong></h2>
          <form method="POST" action="{{ url_for('log') if isNew else url_for('log_edit', progress_id=progress_id) }}">
            {{ form.hidden_tag() }}
            <div class="form-divider">
              {{ form.muscle_group.label(class="custom-label") }}
              {{ form.muscle_group(class="browser-default disable-first-option", id="muscleGroups", autocomplete="off") }}
              {% if form.muscle_group.errors %}
                {{ validationError(form.muscle_group.errors) }}
              {% endif %}
            </div>
            <div class="form-divider">
              {{ form.exercises.label(class="custom-label") }}
              {{ form.exercises(class="browser-default disable-first-option", id="exercises", disabled=isNew, autocomplete="off") }}
              {% if form.exercises.errors %}
                {{ validationError(form.exercises.errors) }}
              {% endif %}
            </div>
            <div class="form-divider">
              {{ form.weight.label (class="custom-label") }}
              {{ form.weight() }}
              <sub>{{ form.weight.description }}</sub>
            </div>
            <div class="form-divider">
              {{ form.sets.label (class="custom-label") }}
              {{ form.sets() }}
              <sub>{{ form.sets.description }}</sub>
            </div>
            <div class="form-divider">
              {{ form.reps.label (class="custom-label") }}
              {{ form.reps() }}
              <sub>{{ form.reps.description }}</sub>
            </div>
            <div class="form-divider">
              {{ form.notes.label (class="custom-label") }}
              {{ form.notes() }}
            </div>
            <div class="form-divider">
              <div class="center-align">
                <button type="submit" name="submit" class="waves-effect waves-light btn-large btn-red">{{"Add" if isNew else "Save"}} Exercise</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}