{% extends "base.html" %}
{% block content %}

<!-- First section with a background image and white text -->
<section>
  <div class="row bg-image white-text no-margin">
    <div class="col s12 m6 l4 h-full  offset-l1">
      <div class="heading h-full">
        <h2 class="text-red logo-text">Muscle Metrics</h2>
        <h3>Elevate Your Strength Journey!</h3>
      </div>
    </div>
  </div>
</section>

<!-- Second section with a white background -->
<section class="bg-white">
  <div class="row">
    <div class="col">
      <div class="card-container">
        <!-- First card -->
        <div class="card">
          <div class="card-image">
            <img src="/static/images/notebook.webp" alt="Image of a notebook">
          </div>
          <div class="card-content">
            <p class="card-title text-red"><strong>Manage Workouts</strong></p>
            <p>Description about the workout log feature...</p>
          </div>
        </div>

        <!-- Second card -->
        <div class="card">
          <div class="card-image">
            <img src="/static/images/atlas-balls.webp" alt="Image of Atlas Balls">
          </div>
          <div class="card-content">
            <p class="card-title text-red"><strong>Track Milestones</strong></p>
            <p>Description about the Personal Best Tracker feature...</p>
          </div>
        </div>

        <!-- Third card with an image and content about visualizing progress -->
        <div class="card">
          <div class="card-image">
            <img src="/static/images/weight-plates.webp" alt="Image of weight plates">
          </div>
          <div class="card-content">
            <p class="card-title text-red"><strong>Visualize Progress</strong></p>
            <p>Description about progress charts and tracking feature...</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row with a call-to-action button for registration -->
  <div class="row">
    <div class="col s12 m4 offset-m4 center-align">
      <a href="{{ url_for('register') }}" class="waves-effect waves-light btn-large btn-red">Register Now!</a>
    </div>
  </div>
</section>

{% endblock %}
