  <!--  Password Modal -->
  <div id="password-modal" class="modal">
    <div class="modal-content">
      <h2 class="form-title text-red"><strong>Edit Profile</strong></h2>
      <form method="POST" action="{{ url_for('edit_profile_password', id=current_user.id) }}">
        {{ passwordForm.hidden_tag() }}
        <div class="form-divider">
          <p class="custom-label">Type your current password*</p>
          {{ passwordForm.currentPassword() }}
        </div>
        <div class="form-divider">
          <p class="custom-label">Type your new password*</p>
          {{ passwordForm.password() }}
        </div>
        <div class="form-divider">
          <p class="custom-label">Retype your new password*</p>
          {{ passwordForm.confirm() }}
        </div>
        <div class="modal-footer">
          <div class="center-align">
            <button type="submit" class="waves-effect waves-light btn-large">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>