{% extends "base.html" %} 
{% block content %} 

<div class="container">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
      <div class="card card-border">
        <div class="card-content">
          <!-- Title of the error message -->
          <h2 class="form-title text-red">
            <strong>401 - Unauthorized: Access is denied due to invalid credentials.</strong>
          </h2>
          <!-- Description of the error -->
          <p>
            You do not have permission to view this directory or page using the credentials that you
            supplied.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

