<!--  Last Name Modal -->
<div id="lname-modal" class="modal">
  <div class="modal-content">
    <!-- Title of the form within the modal -->
    <h2 class="form-title text-red"><strong>Edit Profile</strong></h2>

    <!-- Form for editing the user's last name -->
    <form method="POST" action="{{ url_for('edit_profile_lname', id=current_user.id) }}">
      <!-- Hidden form fields -->
      {{ form.hidden_tag() }}

      <!-- Section for last name input -->
      <div class="form-divider">
        <!-- Label for the last name input field -->
        {{ form.last_name.label (class="custom-label") }}
        <!-- Last name input field -->
        {{ form.last_name() }}
        <!-- Description for the last name field -->
        <sub>{{ form.last_name.description }}</sub>
      </div>

      <!-- Footer of the modal -->
      <div class="modal-footer">
        <div class="center-align">
          <!-- Cancel button, redirects to the edit_profile page -->
          <a href="{{ url_for('edit_profile', id=current_user.id)}}" class="waves-effect waves-light btn-large cancel-btn black-text">Cancel</a>
          <!-- Submit button for the form -->
          <button type="submit" class="waves-effect waves-light btn-large btn-red">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
