{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2 class="form-title text-red center-align"><strong>My Exercise Data</strong></h2>
  <div class="bg-white card-border margin-bttm">
    <div class="row">
      <div class="col s12 l6">
        <h3 class=" title text-red center-align">Exercises Per Muscle Group</h3>
        <canvas id="muscleGroupChart" class="chart-pos"></canvas>
      </div>
      <div class="col s12 l6">
        <h3 class=" title text-red center-align">Exercises Per Day</h3>
        <P>(Last 7 Days)</P>
        <canvas id="exerciseNumberChart" class="chart-pos"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-wrapper">
      {% for progress in user_progress %}

      <div class="card exercise-card teal">
        <div class="card-content white-text">
          <div class="card-header">
            <span class="card-title muscle-group-name">{{ progress.muscle_group.name }}</span>
            <a href="{{ url_for('log_edit', progress_id=progress.id) }}"
              class="btn modal-trigger pencil-bg teal margin-left"><i class="fas fa-thin fa-pencil white-text"></i></a>
            <a href="{{ url_for('log_delete', progress_id=progress.id) }}" class="btn modal-trigger pencil-bg teal"><i
                class="fas fa-solid fa-trash-can white-text"></i></a>
          </div>
          <p class="exercise-name"><strong>Exercise:</strong> {{ progress.exercise.name }}</p>
          <p class="exercise-weight"><strong>Weight:</strong> {{ progress.weight }} kg</p>
          <p class="exercise-reps"><strong>Reps:</strong> {{ progress.reps }}</p>
          <p class="exercise-sets"><strong>Sets:</strong> {{ progress.sets }}</p>
          {% if progress.notes %}
          <p class="exercise-notes"><strong>Notes:</strong> {{ progress.notes }}</p>
          {% endif %}
          <p><strong>Date Added:</strong> {{ progress.date_added.strftime('%d-%m-%Y') }}</p>
          <input type="hidden" class="progress-id" value="{{ progress.id }}">
        </div>
      </div>

      {% else %}
      <div class="col s12">
        <p class="center-align white-text">No exercise logs found.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="application/javascript">
  let muscleGroupChartElement = document.getElementById("muscleGroupChart");

  Chart.register({
  id: 'NoData',
  afterDraw: function (chart) {
    // you can use the previous examples "if" here instead if you want.
    // This not only checks the dataset lenght but also the data in each set.
    // If there is no data across all datasets, the message will display
    if (
      chart.data.datasets
        .map((d) => d.data.length)
        .reduce((p, a) => p + a, 0) === 0
    ) {
      const ctx = chart.ctx;
      const width = chart.width;
      const height = chart.height;
      chart.clear();

      ctx.save();
      ctx.textAlign = 'center';
      ctx.textBaseline = 'middle';
      // you can specify a font if you want instead, this gets the font family from the body tag
      ctx.font = `2.5rem ${window.getComputedStyle(document.body).fontFamily}`;
      // you can omit this or use your own logic to adjust the font color.
      // `prefersDark` is a custom property I have
      ctx.fillStyle = prefersDark ? 'white' : 'black';
      ctx.fillText('No data to display', width / 2, height / 2);
      ctx.restore();
    }
  },
});

  const muscleGroupDoughnutChart = new Chart(muscleGroupChartElement, {
    type: 'pie',
    data: {
      labels: {{ muscleGroupChartLabels | tojson}},
  datasets: [{
    data: {{ muscleGroupChartValues | tojson}},
    backgroundColor: [
    'rgb(255, 99, 132)',
    'rgb(54, 162, 235)',
    'rgb(255, 99, 86)',
    'rgb(255, 205, 55)',
    'rgb(255, 55, 86)',
    'rgb(55, 205, 86)',
  ],
    hoverOffset: 4
      }]
    }
  });

  let exerciseNumberChartElement = document.getElementById("exerciseNumberChart");
  const exerciseNumberChart = new Chart(exerciseNumberChartElement, {
    type: 'bar',
    data: {
      labels: {{ exerciseNumberChartLabels | tojson }},
      datasets: [{
        label: 'Number of exercises in the last 7 days',
        data: {{ exerciseNumberChartValues | tojson }},
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
  });

</script>
{% endblock %}