{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2 class="form-title text-red center-align"><strong>My Exercise Data</strong></h2>
  <div class="row">
    <div class="card-wrapper">
      {% for progress in user_progress %}

        <div class="card exercise-card teal">
          <div class="card-content white-text">
            <div class="card-header">
              <span class="card-title muscle-group-name">{{ progress.muscle_group.name }}</span>
              <a href="{{ url_for('log_edit', progress_id=progress.id) }}" class="btn modal-trigger pencil-bg teal margin-left"><i class="fas fa-thin fa-pencil white-text"></i></a>
              <a href="{{ url_for('log_delete', progress_id=progress.id) }}" class="btn modal-trigger pencil-bg teal"><i class="fas fa-solid fa-trash-can white-text"></i></a>
            </div>
            <p class="exercise-name"><strong>Exercise:</strong> {{ progress.exercise.name }}</p>
            <p class="exercise-weight"><strong>Weight:</strong> {{ progress.weight }} kg</p> 
            <p class="exercise-reps"><strong>Reps:</strong> {{ progress.reps }}</p> 
            <p class="exercise-sets"><strong>Sets:</strong> {{ progress.sets }}</p>
            {% if progress.notes %}
              <p class="exercise-notes"><strong>Notes:</strong> {{ progress.notes }}</p> 
            {% endif %}
            <p><strong>Date Added:</strong> {{ progress.date_added.strftime('%d-%m-%Y') }}</p>
            <input type="hidden" class="progress-id" value="{{ progress.id }}">
          </div>
        </div>
      
      {% else %}
        <div class="col s12">
          <p class="center-align white-text">No exercise logs found.</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}